.categories{

padding:90px 8%;

text-align:center;

background:#fafafa;

}

.categories h2{

font-size:40px;

color:#222;

margin-bottom:15px;

}

.categories p{

color:#666;

margin-bottom:50px;

}

.category-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.category-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.4s;

}

.category-card:hover{

transform:translateY(-10px);

}

.category-card img{

width:100%;

height:260px;

object-fit:cover;

}

.category-card h3{

margin:20px 0;

font-size:24px;

}

.category-card button{

margin-bottom:25px;

padding:12px 25px;

border:none;

background:#ff7b29;

color:white;

border-radius:30px;

cursor:pointer;

}

@media(max-width:900px){

.category-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.category-grid{

grid-template-columns:1fr;

}

}