.featured{

padding:90px 8%;

background:#fafafa;

text-align:center;

}

.pet-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

margin-top:60px;

}

.pet-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.4s;

}

.pet-card:hover{

transform:translateY(-10px);

}

.pet-image{

position:relative;

}

.pet-image img{

width:100%;

height:320px;

object-fit:cover;

}

.heart{

position:absolute;

top:15px;

right:15px;

width:45px;
height:45px;

border:none;

background:white;

border-radius:50%;

color:#ff4d4d;

cursor:pointer;

}

.pet-content{

padding:25px;

}

.pet-content h3{

font-size:24px;

margin-bottom:10px;

}

.pet-content h4{

color:#ff7b29;

margin-bottom:10px;

}

.pet-content p{

margin-bottom:12px;

color:#666;

}

.pet-content button{

margin-top:15px;

padding:12px 25px;

background:#ff7b29;

border:none;

color:white;

border-radius:30px;

cursor:pointer;

}

@media(max-width:900px){

.pet-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.pet-grid{

grid-template-columns:1fr;

}

}