.statistics{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

padding:80px 8%;

background:#fff;

}

.stat-card{

background:#fff7f2;

padding:35px;

border-radius:20px;

text-align:center;

transition:.3s;

box-shadow:0 10px 25px rgba(0,0,0,.06);

}

.stat-card:hover{

transform:translateY(-8px);

}

.stat-icon{

width:70px;
height:70px;

margin:auto;

background:#ff7b29;

color:white;

border-radius:50%;

display:flex;

justify-content:center;
align-items:center;

font-size:28px;

margin-bottom:20px;

}

.stat-card h2{

font-size:34px;

color:#222;

margin-bottom:10px;

}

.stat-card p{

color:#666;

}

@media(max-width:900px){

.statistics{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.statistics{

grid-template-columns:1fr;

}

}