.testimonials{

padding:90px 8%;

background:white;

text-align:center;

}

.testimonial-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:60px;

}

.testimonial-card{

padding:35px;

background:#fff7f2;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.testimonial-card:hover{

transform:translateY(-10px);

}

.testimonial-card img{

width:90px;
height:90px;

border-radius:50%;

object-fit:cover;

margin:auto;

margin-bottom:20px;

}

.stars{

color:orange;

font-size:20px;

margin:15px 0;

}

.testimonial-card p{

color:#666;

line-height:1.8;

}

@media(max-width:900px){

.testimonial-grid{

grid-template-columns:1fr;

}

}